.logHeader__div {
    display: grid;
    grid-column: 1;
    grid-row: 3/ span 2;
    overflow-y: scroll;
}

.logHeader__button {
    background-color: none;
    order: 1;
    flex-direction: column-reverse;
    
}