.logHeader__h3 {
	text-decoration: underline;
}

.logHeader__div,
.scroller {
	display: grid;
	grid-column: 1;
	grid-row: 3 / span 2;
	overflow-y: scroll;
	scrollbar-color: rebeccapurple green;
	scrollbar-width: thin;
	font-size: 1.5em;
}

.logHeader__button {
	background-color: none;
	order: 1;
	flex-direction: column-reverse;
	height: 56px;
	width: 80%;
	margin: 24px;
	padding-left: 24px;
	padding-right: 24px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	/* white-space: nowrap; */
	/* flex-shrink: 0;
	transition: background-color 0.1s ease-in; */
	--bg-opacity: 1;
	--text-opacity: 1;
	/* background-color: #604fcd; */
	background-color: #5d5e60;
	color: #fff;
	border: 1px solid #130b43;
	--border-opacity: 1;
	/* box-shadow: 0 4px 7px rgb(79 114 205 / 40%); */
	box-shadow: 0px 4px 7px rgb(54 65 62 / 90%);
	box-sizing: border-box;
}
