main {
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	justify-content: center;
	margin-bottom: 50px;
}

main input,
main textarea {
	margin: 1em;
	border-radius: 8px;
	padding: 10px;
	width: 100%;
	appearance: none;
	border: none;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 40px;
	/* width: 100%; */
}

label {
	align-self: flex-start;
}

.submit-btn {
	height: 56px;
	width: 250px;
	margin-top: 24px;
	padding-left: 24px;
	padding-right: 24px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 600;
	--bg-opacity: 1;
	--text-opacity: 1;
	background-color: #5d5e60;
	color: #fff;
	border: 1px solid #130b43;
	--border-opacity: 1;
	align-items: center;
	box-shadow: 0px 4px 7px rgb(54 65 62 / 90%);
	box-sizing: border-box;
}
