.dashboard__div {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr .2fr 3fr;
}

.dashboard__h2 {
    grid-column: 1/span 2 ;
    grid-row: 1;
    text-align: center;
}

.dashboard__h3 {
    grid-column: 1/span 2 ;
    grid-row: 2;
    text-align: center;
}