.App {
	text-align: center;
	background-image: url(./cat_on_mat.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-position: absolute;
	bottom: 0;
	font-family: 'Strait', sans-serif;
	height: 100vh;
}
html {
	margin-top: -20px;
}

h1 {
	font-family: 'Rock Salt', cursive;
	text-align: center;
	text-shadow: 0.06em 0.06em 0.06em rgba(0, 0, 0, 0.35);
	color: rgb(235, 229, 229);
	background-color: rgb(29, 124, 148);
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* rgb(202, 191, 178); */

@media only screen and (min-width: 600px) {
  .App {
	background-position: bottom;
  }
  .todayWorkoutSelection {
	margin: 0 auto;
}
}
