.App {
  text-align: center;
  background-image: url(./cat_on_mat.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: absolute; bottom:0;
  font-family: 'Strait', sans-serif;
  height: 100vh;
}
html {
  margin-top: -20px;

}

h1 {
  font-family: 'Rock Salt', cursive;
  text-align: center;
  color: rgb(29, 124, 148);
}
